<!DOCTYPE html>

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDOS Detection with Machine Learning</title>
</head>

<body>
    
    <h1>
        DDOS Detection using Machine Learning
    </h1>

    <h3>
        Developers
    </h3>
    <ol>
        <li>
            Patrick Gatiri : SCT211-0005/2017
        </li>
        <li>
            Karanja Mbuthia : SCT211-0235/2017
        </li>
    </ol>

    <h3>
        Supervisors
    </h3>
    <ol>
        <li>
            Prof. Waweru Mwangi
        </li>
        <li>
            Dr. Eunice Njeri
        </li>
    </ol>

    <br><br>

    Click this <a href="http://127.0.0.1:8000/api/v1"> link </a> to interact with the <b> REST API. </b>

</body>
</html>